<%= form_for @suggestion do |f| %>
  <%= f.select(:id, options_for_select(@suggestions.map { |sug| [sug.optional_snack.name, sug.id] })) %>
  <%= f.submit "Update" %>
<% end %>

<%= form_for @suggestion do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :location %>:
  <%= f.text_field :location %><br />

  <%= f.submit %>
<% end %>

<form action="/suggestions" method="post">
  <label for="name">Name</label>
  <input type="text" name="suggestion[name]" value="" id="name">
  <label for="location">Location</label>
  <input type="text" name="suggestion[location]" value="" id="location">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit" name="button">Submit</button>
</form>
