<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
      <% if flash[:api_error] %>
        <div class="alert alert-danger"><%= h flash[:api_error] %></div>
      <% else %>
  			<div class="row">
          <div class="col-md-10">
            <div class="row sug-table">
              <% if flash[:alert] %>
                <div class="alert alert-danger"><%= h flash[:alert] %></div>
              <% end %>
              <p>Votes Remaining: <%= @votes_remaining %></p>
              <h1>Vote on Snacks</h1>
              <%= render partial: "shared/voting_table", locals: {this_month_sugs: @this_month_sugs} %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row required">
              <h1>Always Purchased</h1>
              <%= render partial: "shared/required_snack_list", locals: {required_snacks: @required_snacks} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
